version 5.245.2

source https://www.nuget.org/api/v2/
source https://www.myget.org/F/pragmatrix/api/v3/index.json
storage: none

framework: netcoreapp2.1,netstandard2.0

nuget CommandLineParser.FSharp
nuget FSharp.Core
nuget FsUnit.xUnit.Typed
nuget Xunit
nuget Mono.Cecil
nuget FunToolbox
nuget System.Json
nuget Chiron
nuget Google.Cloud.Translation.V2
nuget ClosedXML ~> 0.95
