version 5.177.1

source https://www.nuget.org/api/v2/
source https://www.myget.org/F/pragmatrix/api/v3/index.json
storage: none

framework: auto-detect

nuget CommandLineParser.FSharp
nuget FSharp.Core
nuget FsUnit.xUnit
nuget Mono.Cecil
nuget System.ValueTuple
nuget FunToolbox
nuget Newtonsoft.Json
nuget System.Json
nuget Chiron